In order to run the models and visualization scripts, you would need to install the following Python packages:
- numpy
- pandas
- geopandas
- matplotlib
- shapely
- seaborn
- networkx
- pyyaml
- sys
- os
- shutil
- geopy
- pyomo
- pyarrow
- highspy
- pathlib
- datetime
- openpyxl
- xlrd
- go (download the package from "https://github.com/IMMM-SFA/go" and install as a local project (see "https://pip.pypa.io/en/stable/topics/local-project-installs/")

Also, in order to initiate the optimization step, you would need to install either open-source (e.g., HiGHS) or commercial (e.g., Gurobi or CPLEX) solvers. This study adopts a fully open-source approach in which the modeling tools, datasets, and the optimization solver we use are all publicly available and free to use.